<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p><em>This is an automated email message, please do not reply!</em></p>
    
    <h1>Dear <%= @user.name %>,</h1>
    <p>
      Your <%= Settings.org %> Task tracker account has been now enabled by an administrator.      
      
    </p>
    <p>
      You can login and access the application at <a href="<%= URI.join(root_url, " ") %>"><%= URI.join(root_url, " ") %></a>
    </p>
    <p>Good luck and have a great day!</p>
    <p><em><strong>The <%= Settings.org %> Web Services Team</strong></em></p>
  </body>
</html>