<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p><em>This is an automated email message, please do not reply!</em></p>
    
    <h1>Dear <%= ORG %> Tasks admin,</h1>
    <p>
      A new user just registered in the tasks and workflow application.<br/><br/>
      
      User details:<br/><br/>

      Name: <%= @user.name %><br/>
      VATSIM ID: <%= @user.vatsimid %><br/>
      Email: <%= @user.email %><br/>
      vACC: <%= @user.vacc %><br/>
      Position: <%= @user.position %><br/>
      
      
    </p>
    <p>
      You can enable this user account by visiting <%= URI.join(root_url, "users") %>
    </p>
    <p>Good luck and have a great day!</p>
    <p><em><strong>The <%= ORG %> Web Services Team</strong></em></p>
  </body>
</html>