<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p><em>This is an automated email message, please do not reply!</em></p>
    
    <h1>Dear VATEUD Staff member,</h1>
    <p>
      A new task has been assigned to you by VATEUD.<br/><br/>
      
      Task details:<br/><br/>

      Name: <%= @task.name %><br/>
      Created by: <%= @task.author.name %><br/>
      Due date: <%= @task.due_date %><br/>
      Assignees: <%= @task.assignees %><br/>
      Description: <%= raw(@task.description) %><br/>
      
      
    </p>
    <p>
      You can check and manage this task at <a href="<%= URI.join(root_url, task_path(@task)) %>"><%= URI.join(root_url, task_path(@task)) %></a>
    </p>
    <p>Good luck and have a great day!</p>
    <p><em><strong>The VATEUD Web Services Team</strong></em></p>
  </body>
</html>