= simple_form_for(@task) do |f|
  = f.error_notification
  .form-inputs.task-form
    .row
      .span8
        = f.input :name, :input_html => { :class => 'span7' }
      .span4
        = f.input :due_date, as: :string, :input_html => { :class => 'span2', :data => {:behaviour => 'datepicker'}}

    .row
      .span8        
        = f.label "Parent task"
        = f.select :parent_id, nested_set_options(Task.active, @task) {|i| "#{'-' * i.level} #{i.name}" }, include_blank: true
      .span4
        = f.association :status, include_blank: false
    .row
      .span12
        = f.input :description, :input_html => { :class => 'span11 wysihtml5', :rows => 15 }

    .row
      .span10
        = f.association :users, as: :check_boxes, :label => "Assignees"
    = f.hidden_field :parent_id
    = f.hidden_field :author_id
    = f.hidden_field :status_id
    = f.hidden_field :active

    = render :partial => "attachments"

    .row.task-buttons
      .span8
        = f.button :submit, :class => "btn btn-success"
        = f.button :submit, "Upload attachment", :class => "btn btn-primary"
        = link_to 'Cancel', tasks_path(:my => "true"), :class => "btn"





