= simple_form_for(@task) do |f|
  = f.error_notification
  .alert.new-task-alert
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>Note:</strong> All tasks should be 
    = link_to "SMART", "http://topachievement.com/smart.html", target: "_blank"
    (Specific, Measurable, Attainable, Realistic, Timely).
    For discussions and general ideas, consider using the
    = link_to "forums", "http://forum.vateud.net/", target: "_blank"
  .form-inputs.task-form
    .row
      .span8
        = f.input :name, :input_html => { :class => 'span7' }, :label => "Task name"
      .span4
        = f.input :due_date, as: :string, :input_html => { :class => 'span2', :data => {:behaviour => 'datepicker'}}, :label => due_date_label

    .row
      .span8
        = f.association :users, :collection => User.where(:staff => true), input_html: { class: 'multiselect' }, :label => "Assignees", :label_method => :name_position
      .span3
        = f.input :private, :label => "Private (visible to staff only)"  
        
    .row
      .span8
        - if params[:parent_id]
          = f.label "Parent task"
          = f.select :parent_id, nested_set_options(Task, @task) {|i| "#{'-' * i.level} #{i.name}" }, include_blank: true

    .row
      .span12
        = f.input :description, :input_html => { :class => 'span11 wysihtml5', :rows => 15 }

    = f.hidden_field :parent_id
    = f.hidden_field :author_id
    = f.hidden_field :status_id
    .row
      .span8
        = f.button :submit, :class => "btn btn-primary"
        = link_to 'Cancel', tasks_path(:my => "true"), :class => "btn"

