= simple_form_for(@task) do |f|
  = f.error_notification
  .form-inputs.task-form
    .row
      .span8
        = f.input :name, :input_html => { :class => 'span7' }
      .span4
        = f.input :due_date, as: :string, :input_html => { :class => 'span2', :data => {:behaviour => 'datepicker'}}

    .row
      .span10
        = f.association :users, input_html: { class: 'multiselect' }, :label => "Assignees"
        
    .row
      .span8
        - if params[:parent_id]
          = f.label "Parent task"
          = f.select :parent_id, nested_set_options(Task, @task) {|i| "#{'-' * i.level} #{i.name}" }, include_blank: true

    .row
      .span12
        = f.input :description, :input_html => { :class => 'span11 wysihtml5', :rows => 15 }

    = f.hidden_field :parent_id
    = f.hidden_field :author_id
    = f.hidden_field :status_id
    .row
      .span8
        = f.button :submit, :class => "btn btn-primary"
        = link_to 'Cancel', tasks_path(:my => "true"), :class => "btn"

