%li
  .name= link_to (trim_string(task.name, 50)), task_path(task)
  .status
    %span{:class => "label label-#{task.status.css}" }= task.status.name
  - if current_user.staff?  
    .private= private_icon(task)  
  .due_date
    %span{:class => "#{task.due_date_style}"}= task.due_date
  .assignees= trim_string(task.assignees, 38)
  .controls
    = link_to raw('<i class="icon-tasks"></i>'), task_path(task), :title => "Task Details"
    = edit_button("mini", task)
    = accept_button("mini", task)
    = subtask_button("mini", task)
    = progress_button("mini", task)
    = halted_button("mini", task)
    = completed_button("mini", task)
    = cancel_button("mini", task)

  .clear
  - if task.has_children?
    %ul.nested_tasks
      - task.children.each do |child|
        - unless child.private? && current_user.staff == false
          - if @archived == true
            = render :partial => 'tasks/task', :locals => { :task => child }
          - else 
            - if child.active?
              = render :partial => 'tasks/task', :locals => { :task => child }


