%li
  .name= link_to (task.name), task_path(task)
  .status
    %span{:class => "label label-#{task.status.css}" }= task.status.name
  .due_date= task.due_date
  .assignees= task.assignees
  .controls
    = link_to raw('<i class="icon-tasks"></i>'), task_path(task), :title => "Task Details"
    = edit_button("mini", task)
    = accept_button("mini", task)
    = subtask_button("mini", task)
    = progress_button("mini", task)
    = halted_button("mini", task)
    = completed_button("mini", task)
    = cancel_button("mini", task)

  .clear
  - if task.has_children?
    %ul.nested_tasks
      - task.children.each do |child|
        - if params[:archived] == "true" or @archived == true
          = render :partial => 'tasks/task', :locals => { :task => child }
        - else 
          - if child.active?
            = render :partial => 'tasks/task', :locals => { :task => child }

