.active_switch
  - if @my == true
    = active_inactive_switch_my
  - if @filter == true
    = filter_button


.tasks_legend
  .name= sort_link @search, :name, "Name"
  .status= sort_link @search, :status_id, "Status"
  - if current_user.staff?
    .private= sort_link @search, :private, "Priv"
  .due_date= sort_link @search, :due_date, "Due date"
  .assignees Assignees
  .controls Actions
#tasks
  %ul.tasks
    - @tasks.each do |task|
      - if @archived == true
        = render :partial => 'tasks/task', :locals => { :task => task }
      - else 
        - if task.active?
          = render :partial => 'tasks/task', :locals => { :task => task }

/ = will_paginate @collection

= render :partial => "search_form"
