<p id="notice"><%= notice %></p>

<p>
  <b>Author:</b>
  <%= @task.author_id %>
</p>

<p>
  <b>Name:</b>
  <%= @task.name %>
</p>

<p>
  <b>Description:</b>
  <%= @task.description %>
</p>

<p>
  <b>Priority:</b>
  <%= @task.priority_id %>
</p>

<p>
  <b>Due date:</b>
  <%= @task.due_date %>
</p>

<p>
  <b>Status:</b>
  <%= @task.status_id %>
</p>

<p>
  <b>Active:</b>
  <%= @task.active %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
