%p#notice= notice

.task-details.row
  .span3
    .task-label Created by:
    .task-value= link_to @task.author.name, user_path(@task.author)
  .span3
    .task-label Created at:
    .task-value= @task.created_at
  .span2
    .task-label Status:
    .task-value
      %span{:class => "label label-#{@task.status.css}"}= @task.status.name
  .span2
    .task-label Private:
    .task-value= @task.private
  .span2
    .task-label Due date:
    .task-value
      %span{:class => "#{@task.due_date_style}"}= @task.due_date
.task-details.row
  .span6
    .task-label Assignees:
    .task-value= @task.assignees
  .span6
    .task-label Parent task:
    .task-value= @task.parent ? link_to(@task.parent.name, task_path(@task.parent)) : "None"
.task-details.row
  .span12
    .task-label Description:
    .task-value= raw(@task.description)

= render :partial => "attachments"

- if @task.has_children?
  - if @task.children.active.count > 0
    .task-details.row
      .span12
        .task-label Active Subtasks:
        #tasks
          %ul.tasks
            - @task.children.active.order('created_at DESC').each do |task|
              = render :partial => 'task', :locals => { :task => task }
  - if @task.children.inactive.count > 0
    .task-details.row
      .span12
        .task-label Archived Subtasks:
        #arctasks
          %ul.tasks
            - @task.children.inactive.order('updated_at DESC').each do |task|
              = render :partial => 'task', :locals => { :task => task }        

.task-buttons.row
  = edit_button("big", @task)
  = attachment_button("big", @task)
  = accept_button("big", @task)
  = subtask_button("big", @task)
  = progress_button("big", @task)
  = halted_button("big", @task)
  = completed_button("big", @task)
  = cancel_button("big", @task)
  = delete_button("big", @task)
  
.task-buttons.row
  = link_to raw('<i class="icon-tasks"></i> Show All Tasks'), tasks_path, :class => "btn"
  = link_to raw('<i class="icon-home"></i> Show My Tasks'), tasks_path(:my => "true"), :class => "btn"

- if @comments.count > 0
  = render "comments"
-if @task.author == current_user || current_user.staff?
  = render "/comments/form"

- if @versions.count > 0
  = render "history"  