%table.users
  %tr
    %th Name
    %th E-mail
    %th Enabled
    %th Assigned tasks
    %th Active tasks
    %th Completed tasks
    %th Cancelled tasks
    %th Created tasks
    %th Sign in count
    %th Last Sign in
    - if current_user.admin?
      %th Actions

  - @users.each do |user|
    %tr
      %td= link_to user.name, user_path(user)
      %td= user.email
      %td= user.enabled
      %td= user.tasks.count
      %td= user.tasks.active.count      
      %td= user.tasks.completed.count
      %td= user.tasks.cancelled.count
      %td= user.authored_tasks.count
      %td= user.sign_in_count
      %td= user.last_sign_in_at.strftime("%d-%m-%Y") if user.last_sign_in_at
      - if current_user.admin?
        %td
          - if user.enabled == false
            = link_to raw('<i class="icon-ok"></i>'), {:action => :enable, :id => user.id}, :method => :put, :confirm => "Are you sure you want to enable this user?", :title => "Enable User"
          - if user.enabled?
            = link_to raw('<i class="icon-remove"></i>'), {:action => :disable, :id => user.id}, :method => :put, :confirm => "Are you sure you want to disable this user?", :title => "Disable User"

          - if user.staff == false
            = link_to raw('<i class=" icon-circle-arrow-up"></i>'), {:action => :staff, :id => user.id}, :method => :put, :confirm => "Are you sure you want to promote this user to staff member?", :title => "Promote to staff"
          - if user.staff?
            = link_to raw('<i class=" icon-circle-arrow-down"></i>'), {:action => :destaff, :id => user.id}, :method => :put, :confirm => "Are you sure you want to demote this user to regular member?", :title => "Demote from staff"

